/* Media Queries */
@media screen and (max-width: 95vw) {
  .category {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media screen and (max-width: 61vw) {
  .category {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media screen and (max-width: 71vw) {
  header {
    display: inline-block;
    text-align: center;
  }
  header a button {
    margin: 1rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 140vw) {
  body {
    max-width: 114vw;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 1.5rem;
}

footer p {
  text-decoration: none;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  font-weight: 600;
  cursor: pointer;
}
